body
{
    background-color:#EADCDA; 
 ;
}
input[type="button"]
{
    display: block;
    float: left;
    width: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #FFF;
}
input
{
    font-size: 25px !important;
}